@charset "UTF-8";

/* Formatação do corpo do site */
body {
    background-color: white;
    color: rgba(0, 0, 0, 1);
}
h1 {
    font-family: Arial;
    font-size: 30pt;
    color: black;
    text-shadow: 2px 2px 2px black;  
}
p {
    text-align: justify;
    text-indent: 50px;
}
/* Formatação de imagens com legendas através de classe */
figure.foto_legenda {
    position: relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;
}
figure.foto_legenda img {
    width: 100%;
    height: 100%;
}
figure.foto_legenda figcaption {
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0;
    transition: opacity 1s;
}

figure.foto_legenda:hover figcaption {
    opacity: 1;
}